<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
    <link rel="stylesheet" href="/css/loader.css">
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="w-75 mx-auto">
        <h2 class="text-center mt-5">
            <span class="badge badge-pill badge-secondary">Hello, <span th:text="${fullName}"></span>! Welcome to BioShop</span>
        </h2>
        <h2  class="text-center mt-5 text-white badge-pill badge-secondary">We offer only natural, bio <a th:href="@{/products}">products.</a></h2>
        <div id="index-promoted-products"></div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>